<div class="paneabird1 microactivity-template10 bgPan" >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_box1">
            <input ng-if="!isEdit" maxlength="200" my-max-length class="acty10_title1 canShow" type="text" readonly="readonly" ng-model="templateModel.title" ng-trim="false" />
            <input ng-if="isEdit" maxlength="200" my-max-length class="acty10_title1 canEdit" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
            <textarea ng-if="!isEdit" maxlength="200" my-max-length class="acty10_textBox1" disabled="disabled" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit" maxlength="200" my-max-length scroll-top-by-blur class="acty10_textBox1 canEdit" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>

    </div>
</div>