<div class="paneabird1 microactivity-template9 template3-6 bgPan " ng-class="{'edit':isEdit}">
    <div class="beforeGifBox"><img class="gifImg" src="" /> </div>
    <div class="box1">
        <div class="textBox">
            <input ng-class="{'editBorder':isEdit}" ng-model="templateModel.title" ng-disabled="!isEdit"  maxlength="8" scroll-top-by-blur my-max-length  ng-trim="false" custom-input readonly="readonly" type="text" />
            <hr noshade="noshade" />
            <textarea rows="10" class="textBox2" cols="18" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" maxlength="150" scroll-top-by-blur my-max-length ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <!--<textarea rows="2" class="textBox2" rows="3" cols="18" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" maxlength="200" scroll-top-by-blur my-max-length ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>-->

            <!--<div class="acty9_phone_box">-->
                <!--电话组件-->
                <!--<textarea rows="1" class="acty9_textBox3" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title" ng-disabled="!isEdit" ng-readonly="!isEdit" maxlength="200" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>-->
                <!--<textarea rows="1" class="acty9_textBox4" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" ng-disabled="!isEdit" ng-readonly="!isEdit" maxlength="200" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>-->
            <!--</div>-->
        </div>

    </div>

</div>