<div class="paneabird1 microactivity-template9 template3-7 bgPan " ng-class="{'edit':isEdit}">
    <div class="box1">
        <div ng-class="{'editBorder imgGuideMask':isEdit}">
            <img class="imgBox" ng-src="{{templateModel.imageUrl[0]}}">
        </div>

        <div class = "textBox" ng-click = "updateImg(0)">
            <input  ng-class="{'editBorder':isEdit}"  ng-model="templateModel.title"   maxlength="7" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" type = "text"/>
        </div>
    </div>
    <div class="box2">
        <div class="formBox" id="">
            <input  placeholder="姓名（必填）" class="acty8_form_text1" ng-model="userInfo.name" type="text" maxlength="15" ng-readonly="isEdit" ng-disabled="isEdit" change-placeholder-by-focus my-max-length ng-trim="false"   />
            <input  class = "marginTop acty8_form_text2" placeholder="手机号码（必填）"  ng-model="userInfo.phone" type="tel" maxlength="15" ng-readonly="isEdit" ng-disabled="isEdit" change-placeholder-by-focus my-max-length   />
            <div  ng-class="{'editBorder':isEdit}" class = "marginTop">
                <textarea  ng-if = "!isEdit"    my-place-hold="{{templateModel.formOtherInfo||'留言（选填）'}}" class="textBox2" rows="3"   ng-model="userInfo.content" ng-disabled="isEdit"  ng-readonly="isEdit" maxlength="39" change-placeholder-by-focus scroll-top-by-blur my-max-length ng-trim="false"></textarea>
                <textarea   ng-if = "isEdit"   my-place-hold="{{templateModel.formOtherInfo||'留言（选填）'}}"   class="textBox2" rows="3"    ng-model="templateModel.formOtherInfo"   maxlength="39" change-placeholder-by-focus scroll-top-by-blur my-max-length ng-disabled="!isEdit"  ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
            <div class="buttonDiv " ng-class="{'editBorder':isEdit}">
                <div  ng-click="submitInfo()">
                    <input ng-if = "isEdit" ng-model="templateModel.submitName"  maxlength="11" my-max-length  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
                    <input ng-if = "!isEdit" ng-model="templateModel.submitName"  maxlength="11" my-max-length    ng-trim="false"  readonly="readonly" />

                </div>
            </div>
        </div>
    </div>


</div>
