<div class="paneabird1 microactivity-template7 bgPan"  >
    <!--No.1模板页 {-->
    <div ng-class="{'maxbox':!isEdit}" style="">
        <div class="acty7_title1">
            <input ng-if="!isEdit" maxlength="200" my-max-length class="canShow" type="text"  ng-model="templateModel.content[0]" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            <input ng-if="isEdit" maxlength="200" my-max-length class="canEdit" type="text" ng-model="templateModel.content[0]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
        </div>

        <div class="acty7_box1">
            <div class="acty7_title2">
                <input ng-if="!isEdit" maxlength="200" my-max-length class="canShow" type="text"  ng-model="templateModel.content[1]" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
                <input ng-if="isEdit" maxlength="200" my-max-length class="canEdit" type="text" ng-model="templateModel.content[1]" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            </div>
            <textarea ng-if="!isEdit" rows="5" maxlength="200" my-max-length class="acty7_textBox1" disabled="disabled" ng-model="templateModel.content[2]" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit" rows="5" maxlength="200" my-max-length scroll-top-by-blur class="acty7_textBox1 canEdit" ng-model="templateModel.content[2]" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>

        </div>
    </div>
</div>