<!--圣诞模板 -->
<!--No.1模板页 {-->
<div class="paneabird1 microactivity-template22 bgPan" style="display:block;">
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty22_box1">
            <textarea rows="3" class="acty22_textBox1" cols="13" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" ng-disabled="!isEdit"  maxlength="200" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>
    </div>
</div>
<!--} No.1模板页-->