<!-- page 4 助力记录 {-->
<div class="microactivity-vegetables bgPan assistant">
    <div ng-class="{'preview':!isEdit}" ng-show="isView && grassRecordList.length">
        <div class="vegetables_box3Outer section6" ng-style="{'background-image': 'url(' + getImageDoMain('/bottom_bg.png')+ ')'}">
            <div class="vegetables_box2_3">
                <div class="vegetables_title1" ng-style="{'color':templateModel.titleColor}" ng-class="{'editBorder':isEdit}" ng-bind-html="templateModel.title"></div>
                <div class="division" ng-style="{'background-image': 'url(' + getImageDoMain('/bottom_divider.png')+ ')'}"></div>
            </div>
            <div class="vegetables_box2_4 list">
                <div class="vegetables_item2 clearfix" ng-repeat="item in grassRecordList">
                    <span class="item-pic"><img ng-src="{{item.HeadImgUrl||defaultHeadImg1|transformWeixinHeadImg:96}}" err-src="{{defaultHeadImg1}}"></span>
                    <span class="item-content2" ng-style="{'color':templateModel.titleColor}">
                        {{item.Nickname||defaultName}}<br />
                        <em ng-bind-html="templateModel.description" style="opacity:1;" ng-style="{'color':templateModel.descriptionColor}"></em>
                    </span>
                    <span class="item-text" style="opacity:1;" ng-style="{'color':templateModel.descriptionColor}">{{item.CreatedAt|formatJsonDate:"yyyy-MM-dd HH:mm"}}</span>
                </div>
                <ion-infinite-scroll on-infinite="loadMore()" ng-if="renderListData.length == 10" distance="1%" immediate-check="false">
                </ion-infinite-scroll>
            </div>
        </div>
    </div>
</div>
<my-footer></my-footer>

<!--} page 4-->