<div class="paneabird1 microactivity-template10 bgPan" >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_box7">
            <input ng-if="!isEdit" maxlength="7" my-max-length class="acty10_title7 canShow" type="text"  ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
            <input ng-if="isEdit" maxlength="7" my-max-length class="acty10_title7 canEdit" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
            <textarea ng-if="!isEdit" maxlength="30" my-max-length class="acty10_textBox6" disabled="disabled" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit" maxlength="30" my-max-length scroll-top-by-blur class="acty10_textBox6 canEdit" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>

            <div class="acty10_form">
                <input placeholder="联系人" class="acty10_form_text" ng-model="userInfo.name" type="text" maxlength="15" ng-readonly="isEdit" ng-disabled="isEdit" change-placeholder-by-focus my-max-length  />
                <input placeholder="联系方式" class="acty10_form_text" ng-model="userInfo.phone" type="tel" maxlength="15" ng-readonly="isEdit" ng-disabled="isEdit" change-placeholder-by-focus my-max-length   />

                <div class="acty10_form_btn" ng-click="submitInfo()">
                    <input ng-if ="isEdit" ng-model="templateModel.submitName" ng-class="{'editBorder':isEdit}" maxlength="12" my-max-length ng-trim="false" custom-input readonly="readonly" />
                    <input ng-if ="!isEdit" ng-model="templateModel.submitName" ng-class="{'editBorder':isEdit}" ng-readonly="!isEdit" maxlength="12" my-max-length ng-trim="false"  readonly="readonly" />
                </div>
            </div>
        </div>

    </div>
</div>