<div class="microposter3 bgPan" ng-style="{'display':isEdit?'block':'none'}">
    <div class="poster3-step2">
        <div class="description">
            <textarea ng-if="isEdit" inputconfig="{{inputconfig[0]}}" new-custom-input class="poster3-title canEdit editBorder" rows="9"
                type="text" ng-model="templateModel.description" ng-disabled="!isEdit" ng-trim="false" readonly="readonly"></textarea>
        </div>
        <div class="table"></div>
        <div class="btn-box">
            <div class="bright-btn" ng-click="bright()"></div>
            <div class="send-btn" ng-click="sendpray()"></div>
        </div>
    </div>
</div>