<div class="paneabird1 microactivity-template9 acty9_bg2 bgPan" style="">
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty9_box2">
            <textarea ng-if="!isEdit" rows = "5" maxlength="200" my-max-length class="acty9_textBox2" disabled="disabled" ng-model="templateModel.description" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit"  rows = "5" maxlength="200" my-max-length scroll-top-by-blur class="acty9_textBox2 canEdit" ng-model="templateModel.description" ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>

    </div>
</div>