<div class="paneabird1 microactivity-template9 template3-8 bgPan " ng-class="{'edit':isEdit}">
    <div class  = "beforeGifBox"><img class = "gifImg" src=""/> </div>


    <div class="box1" >
        <div class = "textBox">
            <input  ng-class="{'editBorder':isEdit}"  ng-model="templateModel.title"  maxlength="200"  my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" type = "text"/>
            <hr noshade="noshade"/>
            <textarea   class="textBox2" rows ="12"　cols = "18" ng-class="{'editBorder':isEdit}"  ng-model="templateModel.description"  maxlength="200" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>

        </div>

    </div >
    <div class  = "afterGifBox"><img class = "gifImg" src=""/> </div>

</div>