<!--No.9模板页 {-->
<!--机构介绍-->
<div class="micro_bargain">
    <div ng-class="{true: 'isEdit', false: 'preview'}[isEdit]" ng-if="true">
        <div class="introduce  padding_top25 introduce_isEdit1">
            <div class="form form1 ">
                <div class="title"><span>活动规则</span></div>
                <div class="body margin_bottom68">
                    <div class="edit_text1 text1" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[0]" ng-hide="isEdit"
                         ng-trim="false" custom-input readonly="readonly" maxlength="236" isdiff="true" ng-bind-html="templateModel.description[0]|newlines|recogUrl:isView|recogTel"></div>

                    <textarea class="edit_text1 text1" ng-class="{'editBorder':isEdit}" ng-hide="!isEdit" ng-model="templateModel.description[0]" maxlength="236" isdiff="true" my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
                </div>
                <!--编辑-活动截止时间-->
                <div class="title" ng-if="isEdit"><span>活动截止时间</span></div>
                <div class="body" ng-if="isEdit">
                    <div ng-click="showDateTime()" class="edit_text4 text1" ng-class="{'editBorder':isEdit}"
                         ng-model="mydatetime" readonly="readonly" ng-bind-html="mydatetime| date:'yyyy年MM月dd日HH点'"></div>
                    <div ng-style="{'display':false?'block':'none'}">
                        <input ng-model="$parent.mydatetime" mobiscroll-datetime="settings" mobiscroll-instance="myInstance" />
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!--} No.9模板页-->