<ion-view class="micro-koubei-create-shop gray-bg">
    <ion-content has-bouncing="false">

        <!--申请失败-->
        <div ng-show="hasShop">
            <p class="fail-tip text-center">您的支付宝账号已经开通过口碑店铺，<br />快去下载口碑商家，订购我们的服务吧！</p>
            <div class="koubei-qrcode-box">
                <span class="koubei-qrcode"></span>
            </div>
            <p class="code-tip text-center">扫一扫立即下载</p>
        </div>
        <!--填写开店信息-->
        <div ng-show="!hasApply&&!hasShop&&!checking">
            <div class="box first-box">
                <div class="box-left">门店名称</div>
                <input class="box-right box-c" type="text" ng-model="shopModel.name" readonly="readonly" maxlength="20" custom-input placeholder="请输入店铺名称!" change-placeholder-by-focus />
                <span class="icon-right"></span>

            </div>
            <div class="box">
                <div class="box-left">门店地址</div>
                <div ng-show="shopModel.address" class="box-right box-c" type="text" ng-bind="shopModel.locate.address" readonly="readonly" placeholder="请选择" ng-click="gotoLocate()"></div>
                <input ng-hide="shopModel.address" class="box-right box-c" type="text" readonly="readonly" placeholder="请选择" ng-click="gotoLocate()" />
                <span class="icon-right"></span>
            </div>
            <div class="box">
                <div class="box-left">门店电话</div>
                <input class="box-right box-c" type="text" ng-model="shopModel.tel" readonly="readonly" maxlength="11" custom-input placeholder="请输入电话号码" change-placeholder-by-focus />
                <span class="icon-right"></span>
            </div>
            <div class="box first-box">
                <div class="box-left">经营品类</div>
                <input class="box-right box-c" type="text" ng-model="shopModel.businessType" readonly="readonly" placeholder="请选择" ng-click="showBusinessTypeList()" />
                <span class="icon-right"></span>
            </div>
            <div class="box first-box">
                <div class="box-left">门店首图<span class="guide-words1">（必须上传1张图片）</span></div>
            </div>
            <div class="upload-image">
                <multi-image-upload upload-config="firstPicture"></multi-image-upload>
            </div>

            <div class="box">
                <div class="box-left">门店內照与内景照<span class="guide-words1">（必须上传3张图片）</span></div>
            </div>
            <div class="upload-image">
                <multi-image-upload upload-config="indoorPicture"></multi-image-upload>
            </div>
            <div class="box">
                <div class="box-left">营业执照</div>
            </div>
            <div class="upload-image">
                <multi-image-upload upload-config="businessLicense"></multi-image-upload>
            </div>
            <div class="box">
                <div class="box-left">授权函<span class="guide-words1">（若无授权函，无需上传）</span></div>
            </div>
            <div class="upload-image">
                <multi-image-upload upload-config="accreditImgConfig"></multi-image-upload>
            </div>

            <div class="box first-box">
                <div class="box-left">注册号</div>
                <input class="box-right box-c" type="text" ng-model="shopModel.regNumber" readonly="readonly" maxlength="30" custom-input placeholder="请与营业执照上保持一致!" change-placeholder-by-focus />
                <span class="icon-right"></span>

            </div>
            <div class="guide-words2">请填写营业执照上的注册号，最多可输入30位数字。</div>
            <div class="box first-box">
                <div class="box-left">字号名称/名称</div>
                <input class="box-right box-c" type="text" ng-model="shopModel.businessName" readonly="readonly" maxlength="30" custom-input placeholder="请填写营业执照上字号名称!" change-placeholder-by-focus />
                <span class="icon-right"></span>
            </div>
            <div class="guide-words2">请填写营业执照上的名称，如果个体户的营业执照没有名称，名称中请填写营业者姓名。</div>
            <div class="agree-items"><div class="check" ng-class="{true: 'icon-checked', false: 'check-box'}[checkBoolean]" ng-click="agreeUserTerms(checkBoolean)"></div>同意<span class="agree-item" ng-click="showAlipayTerm()">《支付宝商家服务协议》、《口碑商户服务协议》</span></div>

            <div class="submit" ng-click="submitShopInformation()">提交</div>
        </div>
        <!--申请成功-->
        <div ng-show="hasApply" class="success-apply">
            <span class="icon-success"></span>
            <p class="apply-result text-center">开店申请成功！</p>
            <p class="apply-tip text-center">随时关注校宝秀，了解您开店的最新动态！</p>
        </div>
        <!--申请中-->
        <div ng-show="checking" class="success-apply">
            <span class="icon-wait"></span>
            <p class="apply-result text-center">您的申请已成功，请耐心等待！</p>
        </div>
        <br />
    </ion-content>
    <div ng-if="alipayTermShow" class="user_terms_popup">
        <div class="lockMask">
        </div>
        <div class="terms_text koubei-terms">
            <ion-content class="terms_content" has-bouncing="false">
                <div class="terms_title">口碑商家服务协议</div>
                <div>
                    本协议是由您（以下简称“甲方”）与支付宝（中国）网络技术有限公司（以下简称乙方）就甲方使用支付宝服务相关事项所订立的有效合约。甲方通过网络页面点击确认或以其他双方认可的方式选择接受本协议，如您不同意接受本协议的任意内容，或者无法准确理解相关条款含义的，请不要进行后续操作。<br />

                    第一部分 具体产品条款<br />

                    当面付服务<br />
                    服务描述<br />
                    甲方可直接通过已有的收银系统或具备相应功能的手机等设备，识别用户手机或其他乙方实际支持的无线终端上的条形码、二维码、声波等发起收银，并完成甲方与用户之间的款项收付。<br />
                    服务费用<br />
                    免费<br />
                    服务规则<br />
                    使用本协议约定的当面付服务，须遵守以下内容：<br />
                    1、	甲方需开发并优化自己的系统，完成与乙方的系统对接。甲方将其扫描到的条码或接收到的声波所包含的信息传输给乙方（如果是二维码支付服务的，甲方须向乙方传输二维码对应的信息），包括但不限于订单号、商品名称、支付金额收款人信息、交易号等，具体信息的提供以用户能准确识别和核对其付款内容为准。<br />
                    2、	本服务支持退款，具体的服务类型或退款周期以乙方实际支持的为准。<br />
                    在甲方使用本服务的退款功能时，相应被退款的交易在最初交易完成时对应的交易款项仍计入交易流量；退款时涉及的交易款项不再计入交易流量，不收取相应软件服务费。<br />
                    3、甲方根据自身业务需要可在自己的商家工具接口下新增、变更或删除甲方商户支付宝账户；但甲方仅能添加甲方同名或与甲方有关联关系的支付宝账户，且任何因集成在甲方接口下的支付宝账户新增、变更、删除等操作产生的全部风险与责任由甲方自行承担。<br />
                    4、风险控制特别约定：<br />
                    4.1在单个自然月内，若银行卡持卡人或支付宝账户持有人因通过当面付服务而主张非授权交易等情形的交易金额累计达到人民币五千元的并且此类金额占到当月甲方使用当面付服务全部服务所产生的交易总金额的十万分之一时，甲方需根据乙方要求采取对应的配合工作联合防御相关交易风险。<br />
                    4.2如甲方在收到乙方通知后的五日内未采取措施控制的，乙方有权终止向甲方提供该服务，但应在终止前通知甲方。<br />
                    4.3 若通过该服务发生的非授权交易连续三个月出现4.1或4.2中约定情形的，或连续二个月达到人民币五万元且超过在非授权交易发生的上一自然月甲方使用当面付服务所产生的交易总金额的万分之一的，乙方有权提前通知终止向甲方提供该服务的权利。<br />
                    5、积分支付特别约定<br />
                    5.1当面付服务包含了积分支付渠道。<br />
                    5.2积分支付，是指同时在甲方使用的支付宝产品中包含集分宝支付、积分快捷支付、收银台直减三种支付渠道或部分支付渠道的服务概称。<br />
                    5.3甲方使用积分支付服务时，甲方收到的是全额款项，用户在购买商品时可享优惠（抵扣集分宝、抵扣积分或立减等）所对应的等额款项实际是由集分宝南京企业管理有限公司（以下简称“集分宝公司”）向甲方支付的。甲方应在收到集分宝公司支付的款项后，向集分宝公司开具等额发票。<br />
                    5.4甲方同意，如本合同约定的集分宝公司名称变更、主体变更的，在乙方有权通过邮件通知、网站公告等方式通知甲方后，甲方应按照乙方通知向新集分宝公司开具发票。<br />
                    5.5甲方于每月初的前10个工作日内向集分宝公司开具其上月收到的积分所享优惠对应款项的等额发票，如开票金额不满100元的，可累计至下月，以此类推直至满100元，但累计最多不得超过3个月（含应开票当月）；否则甲方同意，集分宝公司有权要求乙方从甲方名下支付宝账户中扣除待开发票金额的30%作为违约赔偿金并支付到集分宝公司。<br />
                    5.6发票要求：发票开具方必须为甲方；发票项目名称为：用户使用集分宝购买商品类或商家主营产品，发票备注栏或发票项目名称后需注明“集分宝字样”。<br />

                    支付宝服务窗<br />
                    服务概述<br />
                    本服务是乙方在支付宝客户端向个人或企业用户提供的信息展示渠道。甲方在支付宝服务窗注册服务窗号,支付宝用户在服务窗上关注甲方服务窗号，即成为甲方服务窗号的订阅用户后，甲方可通过服务窗号向订阅用户展示和/或互动相关信息等。<br />
                    服务规则<br />
                    1、甲方确认其应通过如下链接熟读《支付宝服务窗规则》且同意遵守该规则，并且乙方有权适时对该规范做修改。《支付宝商家行为规范》可以通过以下URL地址查看： https://cshall.alipay.com/enterprise/help_detail.htm?help_id=552369 <br />
                    2、如甲方违反《支付宝服务窗规则》具体约定的，乙方有权立即终止本服务或本协议约定的全部服务。<br />

                    服务费用<br />
                    免费<br />

                    爱生活服务平台（商户CRM）<br />
                    服务概述<br />
                    爱生活服务是乙方基于“life.alipay.com”平台（以下简称“爱生活平台”）向甲方提供的可以由甲方自主设置相应营销工具和营销活动的服务。<br />
                    服务费用<br />
                    免费<br />
                    服务规则<br />
                    1、营销工具：指在“爱生活服务平台”上甲方自行配置，且旨于向用户提供优惠服务（如折扣、立减等）的产品，包括红包、优惠券、会员卡等。<br />
                    2、营销活动：指在“爱生活服务平台”上甲方可以按照页面提示自行配置，且旨于向用户提供优惠的活动，包括实时优惠、送优惠券等。<br />
                    3、甲方可以通过“爱生活服务平台”自行配置营销工具和营销活动，向用户提供相应优惠服务。同时，甲方保证甲方在“爱生活服务平台”上且的任何操作，均会遵守本协议约定及乙方页面提示，不会侵犯任何第三方的权益。<br />
                    4、甲方理解并同意，在“爱生活服务平台”配置的营销工具和营销活动，并输入甲方支付宝账户和密码（登录密码、支付密码或其他可以验证甲方身份的密码）的行为，即视为甲方真实意思表示，一旦提交即为不可撤销。<br />
                    5、甲方在配置相应营销工具和营销活动之前，已经充分理解，通过“爱生活服务平台”配置的营销工具和营销活动，仅作为甲方对用户进行推广或销售的一种方式，乙方并不保证任何运营效果。<br />
                    6、甲方通过“爱生活服务平台”配置了营销工具和营销活动后，应保证能按照营销工具或营销活动中的说明向用户提供完整、真实的服务，否则因此给乙方或用户造成的损失由甲方承担赔偿责任。本条款在本协议终止后营销工具和营销活动截止前继续有效。<br />
                    7、若甲方通过“爱生活服务平台”配置了营销工具和营销活动，且通过乙方或乙方关联公司平台进行发布的；或在甲方自己平台配置了营销工具、营销活动或商品信息，但通过乙方或乙方关联公司平台发布的，甲方均应保证在乙方或乙方关联公司平台上发布的商品或服务的信息、图片、真实、有效、合法，且不存在侵犯任何其他第三方权益的行为。否则，因此给用户或乙方造成的损失由甲方承担。如因甲方在乙方或乙方关联公司平台上发布的商品、服务等造成的纠纷，由甲方负责解决。<br />
                    8、本服务是乙方提供的增值服务，乙方有权根据实际业务需要中止、终止提供本服务。<br />

                    第二部分 基础条款<br />
                    第一条 相关定义<br />
                    除上下文文义另有所指外，本协议中下列用语具有如下含义：<br />
                    1.1非授权交易：指甲方用户未经过银行卡（含借记卡、信用卡等）持卡人或支付宝账户持有人授权，使用其银行卡或支付宝账户并在甲方网站或与甲方直接通过支付宝服务完成的交易。<br />
                    1.2 淘点点平台，指由淘宝（中国）软件有限公司、浙江淘宝网络有限公司（本协议中合称“淘宝”）提供基于互联网、移动互联网信息服务及相应软件技术服务的平台,淘点点平台包括但不限于网址dd.taobao.com，或淘宝根据业务需要不时修改的URL，以及相应淘点点客户端软件等。<br />
                    第二条 一般性约定<br />
                    2.1甲方应确保自身具备经营、签署本协议所需的各项授权、证照、批准和资质。甲方需向乙方提供身份资料及经营内容等资料（包括但不限于甲方经营需要的各项证照、行政审批文件等）。如甲方提供的资料不符合乙方要求的，乙方有权要求甲方重新提交、补充提交相关资料，或者单方即时中止/终止本协议。<br />
                    2.2甲方应独立承担因甲方与甲方用户之间的交易违法或甲方网站（包含但不限于甲方相关APP、门店）及甲方经营业务中的交易信息虚假、陈旧或不详实造成的投诉、退货、纠纷、处罚等责任。<br />
                    2.3甲方仅能将支付宝服务用于甲方及乙方认可的甲方门店，并只能用于真实交易收款，不能将乙方提供的接口、接口技术、安全协议及证书等以任何方式提供给第三方使用。<br />
                    2.4甲方应妥善保管甲方的支付宝账户、密码和（或）数字证书、接口权限等，乙方通过支付宝账户、密码和（或）数字证书或接口识别甲方身份及指令，所有使用甲方支付宝账户、密码和（或）数字证书或接口的操作视为甲方的操作，因甲方支付宝账户、密码和（或）数字证书遗失、泄露、被窃或接口被盗用所导致的损失由甲方自行承担。<br />
                    2.5甲方需妥善保留甲方网站（含APP）或门店发生的与交易有关的一切凭证，包括但不限于商品名称、商品金额、购物小票（甲方系统记录或纸质小票均可）、视频资料（如有）。<br />
                    2.6在本协议有效期内，及在本协议有效期满后一年内，若银行卡持卡人或支付宝账户持有人主张非授权交易的，甲方应在收到乙方通知后五个工作日内按乙方要求提供上述2.5条所述的相关交易凭证。若甲方在指定期限内不提供或怠于提供上述凭证，或其提供的凭证被合作银行、司法机关或第三方鉴定机构认定为不真实或无效的，或在收到乙方通知后未及时停止可疑交易、控制相应资金的等，而给乙方造成的损失，甲方应向乙方承担全部赔偿责任。<br />
                    2.7乙方有权根据风险防范需要随时中止（终止）向甲方提供支付方式或延迟资金清算，或调整甲方用户的支付限额。<br />
                    2.8甲方确认其应通过如下链接熟读《支付宝商家行为规范》且同意遵守该规范，并且乙方有权适时对该规范做修改。《支付宝商家行为规范》可以通过以下URL地址查看：<br />
                    https://cshall.alipay.com/enterprise/help_detail.htm?help_id=528591。 <br />
                    第三条 费用、结算、退款<br />
                    3.1	甲乙双方以人民币为结算货币。双方结算的据如下：<br />
                    3.1.1“支付宝”软件系统以及银行对账凭证都有记录的，以银行对账凭证为准；<br />
                    3.1.2“支付宝”软件系统没有记录而银行对账凭证有记录的，以银行对账凭证为准；<br />
                    3.1.3“支付宝”软件系统有记录而银行对账凭证没有记录的，以“支付宝”软件系统为准。<br />
                    第四条 保密条款<br />
                    4.1任何一方（“接收方”）对于本协议内容及因履行本协议而获知的另一方（“披露方”）的商业秘密和技术秘密负有保密义务，包括但不限于本协议及任何补充协议所述内容、在合作过程中产生的其他文件资料、接收方获取的披露方或其关联公司的文件资料、注册会员信息以及财务信息、技术信息、经营信息、客户信息等。接收方不得将本协议内容及已获知的披露方的商业和技术秘密泄露或以其他任何形式告知任何非本协议当事人（包括双方没有必要授权的任何雇员），或用于除本协议履行之外的其他目的。<br />
                    4.2 甲方同意乙方有权在法律、法规、政府监管部门和/或乙方实现“支付宝服务”所必须的银行合作要求的情况下将甲方相关信息提供给乙方的合作银行、政府监管部门进行核查，具体需要核查的信息以乙方合作银行、政府监管部门的要求为准。乙方应及时告知甲方获得该等信息的银行和政府监管部门的名称及披露的交易信息内容，但有关机关要求保密或法律法规禁止披露的情况除外。<br />
                    第五条 知识产权<br />
                    甲乙双方合作期间，基于本协议目的，甲乙双方可以合理地使用对方的相应知识产权，包括但不限于商标、标识、产品或服务名称、LOGO等知识产权；但未经一方授权，另一方不得将一方的知识产权用于本协议目的之外的场合。<br />
                    第六条 协议终止<br />
                    6.1	发生下列情形的，守约方有权立即终止本协议：<br />
                    6.1.1一方违反本协议约定，未履行相关义务，经另一方书面通知后三日内仍未改正的。<br />
                    6.1.2一方严重违反本协议约定导致本协议目的不能实现的。<br />
                    6.2	本协议期限届满且双方不再续签的，协议自行终止。<br />
                    6.3 甲方与口碑公司签署的《口碑商户服务协议》终止的，本协议自行终止。<br />
                    6.4在协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致乙方不能提供约定服务的，乙方有权单方终止本协议而无需承担任何赔偿及法律责任。<br />
                    6.5本协议有效期内，乙方有权根据业务调整需要随时（中止）终止提供部分服务或调整服务内容。<br />
                    第七条 除外责任<br />
                    7.1为有效提供服务，乙方网站、“支付宝”软件系统将不时进行维护和检测，对此乙方将提前三日在乙方网站公告，因此产生的服务中断或不稳定状态，不视为乙方违约。<br />
                    7.2因通信公司有线或无线通信系统、设备的检修、维护或不稳定，或黑客攻击，或电力部门技术调整或故障，或银行方面的问题等原因，或由于不可抗力事件导致乙方服务中断或不稳定，不视为乙方违约。<br />
                    第八条 适用法律及争议解决<br />
                    因本协议产生的任何争议，双方应协商解决；协商不成的，应提交被告住所地有管辖权的人民法院裁决。<br />
                    第九条 违约责任<br />
                    9.1除本协议另有约定外，任何一方违反本协议约定的，应赔偿因此给另一方造成的直接损失，包括但不限于因遭受行政处罚或需向第三方承担民事责任造成的损失。
                    9.2甲方应向乙方承担赔偿责任的，甲方须在收到乙方通知后五个工作日内向乙方赔偿由于甲方违约导致的乙方所有损失，否则乙方有权直接自甲方名下的支付宝账户中扣取，若甲方名下的支付宝账户余额不足时，甲方应在五日内（含五日）向其支付宝账户充值并授权乙方直接自账户余额中扣取直至赔付完毕；如甲方在五日后仍未能足额向乙方清偿的，乙方有权终止甲乙双方签署的所有协议。<br />
                    第十条 可转让性<br />
                    乙方有权不经甲方同意而将本协议项下的权利和义务一并转让具备履约能力的第三方，但乙方对受让人的履约行为承担连带责任。<br />
                    第十一条 其他约定<br />
                    11.1本协议自上述任一服务开通之日起生效，有效期一年。协议到期前三十日内，除非甲乙双方任意一方通知对方本协议不再续签，否则本协议将自动续签一年，以此类推，反复适用。<br />
                    11.2本协议所称的“通知”，包括纸质盖章文件形式，或通过甲方在签约过程中在乙方平台上预留的邮箱发送邮件，或通过甲方在签约过程中在乙方平台上预留的手机号码发送短信等方式。<br />
                    11.3甲乙双方如本协议有任何补充或异议的，可以通过签署补充协议或在乙方平台点击确认的方式进行确认。<br />
                    11.4甲方通过乙方平台点击确认的方式来确认本协议的,与甲方加盖公章或签字的行为具有相同的法律效力。<br />
                    11.5本协议2.8条规定的 《支付宝商家行为规范》是本协议不可分割的一部分，与本协议正文具有相同法律效力。<br />
                    11.6双方签订本线上协议或其他在线协议后，甲方因内部管理等原因需要签订纸质协议进行确认或存档 的，双方可再行签订纸质协议，但不能因此视为双方存在两个协议关系，纸质协议的内容必须与在线签署的协议内容一致，协议的生效与履行依照在线签署的协议约定执行，在线签署的协议内容与纸质协议的约定不一致的，以前者的约定为准。<br /><br />
                    附件：《支付宝商家服务协议》<br />
                    支付宝商家服务协议<br /><br />
                    本协议是您（以下称“甲方”）与口碑（上海）信息技术有限公司、杭州口口相传网络技术有限公司（以下合称“乙方”）就甲方使用口碑平台服务相关事项所订立的有效合约。甲方通过网络页面点击确认或以其他乙方认可的方式接受本协议，即表示甲方与乙方就本协议达成一致并同意接受本协议的全部约定内容。如您不同意接受本协议的任意内容，或者无法准确理解相关条款含义的，请不要进行后续操作。<br />

                    目录<br />
                    第一条 定义<br />
                    第二条 口碑服务<br />
                    第三条 一般性权利义务<br />
                    第四条 运营合作<br />
                    第五条 服务费用及支付方式<br />
                    第六条 支付宝授权条款<br />
                    第七条 免责及有限责任<br />
                    第八条 违约责任<br />
                    第九条 协议终止<br />
                    第十条 其他约定<br />
                    附件：支付宝商家服务协议<br />
                    特别注意：本协议附件《支付宝商家服务协议》是本协议重要组成部分，甲方保证认真阅读附件全部内容，并同意按照附件《支付宝商家服务协议》的约定履行相关义务。<br />

                    甲方和乙方一、乙方二（本协议中合称乙方）在平等、自愿、公平的基础上，经过友好协商，就口碑运营的口碑平台合作事宜所达成以下共识：<br />
                    第一条 定义<br />
                    1、口碑平台，是指乙方提供网络信息服务及相应软件技术服务的平台，口碑平台包括但不限于网址www.koubei.com，或乙方根据业务需要不时修改的URL，以及甲方使用的相应口碑客户端软件（如有）、口碑平台后台系统等，以下简称口碑平台。<br />
                    2、支付宝公司，是支付宝（中国）网络技术有限公司的简称。<br />
                    3、交易流量，指由支付宝公司所统计的甲方通过附件约定支付宝服务所完成交易的金额。<br />
                    4、淘点点平台，指由淘宝（中国）软件有限公司、浙江淘宝网络有限公司（本协议中合称“淘宝”）提供包括但不限于网址dd.taobao.com，以及相应淘点点客户端软件等。<br />
                    5、商户制度：指口碑在口碑平台或其他渠道上已发布或将来发布的各类制度、规则及/或规则条款（详见网址：支付宝企业帮助中心——线下业务——公告区，
                    https://cshall.alipay.com/enterprise/cateQuestion.htm?cateType=EE&cateId=258464&pcateId=25362）的统称。 其包括但不限于《口碑城市服务机具管理制度》、《口碑平台商户管理制度》、《口碑品牌管理规范》、《服务窗规则》、《爱生活平台使用规则》。所有制度是本协议重要组成部分，口碑有权调整。如商户制度的发布位置发生变化的，乙方将通过“支付宝企业帮助中心——线下业务——公告区”（URL地址同上）公告的方式提前通知甲方。<br />
                    第二条 口碑服务<br />
                    1、口碑平台服务，乙方基于口碑平台为甲方提供的网络信息服务及相应软件技术服务。<br />
                    2、口碑运营服务，甲方可通过乙方运营的工具或平台（包括但不限于服务窗、 “life.alipay.com”平台（爱生活平台）、商户APP等，具体的运营工具、运营平台，乙方可根据实际情况调整）向用户展示和/或互动相关信息、配置甲方优惠活动等。<br />
                    第三条 一般性权利义务<br />
                    1、本协议项下，口碑（上海）信息技术有限公司向甲方提供与口碑平台相关网络技术及软件技术服务，杭州口口相传网络技术有限公司向甲方提供与口碑平台相关的网络信息服务。<br />
                    2、甲方应保证其为一家合法成立并有效存续的法人或其它商事主体，能够独立承担法律责任，并具有履行本合同所需的一切权利及能力；同时甲方应当按乙方要求提供有效身份资料。<br />
                    3、如甲方曾是淘点点平台的商户，甲方同意：乙方可向淘点点平台获取甲方留存在淘点点平台上的所有数据，淘点点平台亦可按照乙方要求提供甲方的相关资料。<br />
                    4、甲方同意，对于甲方在使用口碑平台过程中提供、形成的信息（包括经营情况、优惠信息、优惠核销信息等），乙方具有所有权和使用权，且乙方有权将上述信息传递给支付宝等其他相关服务提供者。同时，甲方仍可无条件继续使用上述信息。<br />
                    5、甲方同意，乙方可将甲方数据与其他商户数据进行比较分析，并在不向其他商户透露甲方具体信息的情况下，将分析结果（包括但不限于某一区域内口碑平台商户的折扣券核销率等）提供给其他商户和甲方。但分析结果仅供甲方参考，如甲方使用分析结果而产的任何损失与乙方无关。<br />
                    6、如甲方使用乙方提供的收单机具，甲方需要遵守《口碑城市服务机具管理制度》，并按照《口碑城市服务机具管理制度》的约定缴纳一定金额的机具保证金。甲方同意乙方可向机具厂商提供甲方支付宝账户识别码、秘钥、甲方名称等信息，由机具厂商将甲方支付宝账户信息与甲方使用的机具绑定。<br />
                    7、甲方不得向乙方或乙方关联公司的员工、顾问提供任何形式的不正当利益，不得贿赂或以其他不正当方式收买、企图收买乙方或乙方关联企业之员工、顾问为甲方提供不正当利益。<br />
                    8、因甲方使用口碑平台服务的收款支付宝账户有多个，故甲方承诺如乙方需要按照本协议约定从甲方及其甲方设定的甲方门店收款支付宝账户中扣取款项的，甲方已就此获得了甲方设定的甲方门店收款支付宝账户的账户持有人同意。<br />
                    第四条 运营合作<br />
                    1、甲方同意，乙方可在甲方（含甲方所有门店）向用户自主提供优惠基础上向用户提供额外的优惠，优惠详情由乙方向甲方邮箱（包括本协议指定邮箱、甲方预留在乙方系统中的邮箱）发邮件，或向甲方联系人手机号码（包括甲方预留在乙方系统的手机号，或本协议中约定的联系人手机号码）发信息，或网站公告等方式通知甲方；低于甲方提供优惠基础部分的费用，由乙方承担（简称“乙方投入”）。<br />
                    2、甲方同意，对于有“乙方投入” 的交易，甲方仍应按照甲方在“口碑”平台上展示的优惠凭证上的约定向用户提供服务，且该类服务的质量不低于甲方提供的其他任何服务。否则，乙方有权停止“乙方投入”，同时保留要求甲方返还乙方已经投入的款项。<br />
                    3、在“乙方投入”期间，甲方在口碑平台上发布优惠的优惠力度不低于甲方在其他渠道或平台（含甲方自有渠道或平台）上发布的优惠力度。如存在特殊情况的，甲方应事先获得乙方同意。<br />
                    4、乙方委托乙方关联公司集分宝南京企业管理有限公司（简称集分宝公司）向甲方支付“乙方投入”的费用。甲乙双方应按月对账，在每个自然月的 15号前对上一自然月乙方投入金额进行核对，双方核对完后由甲方向集分宝公司开票。如经集分宝公司催缴后甲方仍未开票的，集分宝公司有权要求支付宝公司从甲方支付宝账户或甲方设定的甲方门店收款支付宝账户中扣除待开发票金额的30%作为违约赔偿金并支付到集分宝公司。<br />
                    5、集分宝公司的发票抬头：集分宝南京企业管理有限公司；发票内容：食品、百货或日用品，发票备注“集分宝”字样。<br />
                    第五条 服务费用及支付方式<br />
                    1、甲方应按照甲方使用附件约定的支付宝服务所产生的交易流量向乙方支付软件技术服务费，软件技术服务费的计算标准为：每笔交易流量的0.6%。<br />
                    2、服务费的支付方式：甲方不可撤销地授权支付宝公司在用户使用附件约定支付宝服务完成交易时，实时从甲方支付宝账户或甲方设定的甲方门店收款支付宝账户中按照本条第1款约定扣取软件技术服务费，并支付到口碑（上海）信息技术有限公司指定的支付宝账户。<br />
                    3、甲方同意，在本协议有效期内乙方可通过网站公告或邮件方式通知甲方后，按照调整后的费率向甲方收取服务费，但调整的费率不得损害甲方利益。<br />
                    4、甲方确认软件技术服务费和交易流量以乙方和支付宝系统记录的数据为准。<br />
                    第六条 支付宝授权条款<br />
                    本协议一旦生效，即表示甲方已充分理解并同意不可撤销地授权支付宝公司可根据乙方指令对甲方支付宝账户或甲方设定的甲方门店收款支付宝账户中的保证金（如有）、余额进行如下操作，包括但不限于对保证金、账户余额进行冻结、解冻、划扣。<br />
                    第七条 免责及有限责任<br />
                    1、乙方将按现有技术提供口碑服务，但以下情况下乙方不需要承担责任：<br />
                    （1）口碑平台系统停机维护；<br />
                    （2）因通信公司有线或无线通信系统、设备的检修、维护或不稳定，或黑客攻击，或电力部门技术调整或故障，或银行方面的问题等原因，或由于不可抗力事件导致乙方服务中断或不稳定，不视为乙方违约。<br />
                    2、乙方不对甲方产品或服务的真实性、合法性和有效性作任何明示或暗示的担保，也不承担任何责任。<br />
                    第八条 违约责任<br />
                    1、在使用口碑平台的过程中，如甲方存在侵犯第三方（如用户、知识产权权利人）权益、违反国家法律法规或其他违反本协议的行为时，除根据本协议应向乙方支付违约金（如有）外，还应赔偿乙方因此遭受的直接损失，包括但不限于因遭受行政处罚或需向第三方承担民事责任造成的损失。<br />
                    2、乙方因故意或重大过失导致甲方利益受损时，乙方对甲方的违约和/或赔偿责任以甲方遭受的直接损失为限。<br />
                    第九条 协议终止<br />
                    1、提前解除：甲乙双方均可以提前解除本协议，但须通过合理方式提前30天通知对方。<br />
                    2、甲方发生下述情形时，乙方有权单方解除本协议：<br />
                    （1）违反商户制度规定且达到终止合作的程度；<br />
                    （2）提交的信息或文件不真实、不合法、已失效或甲方无法证明其信息或文件的真实性、合法性、有效性；<br />
                    （3）不具备销售其商品或服务的必备资质或其必备资质过期、被注销；<br />
                    （4）甲方保证金（如有）不足额，且未能自行补齐，经乙方催缴后仍未能在指定时间内补足；<br />
                    （5）甲方存在违反本协议或商户制度的情形，经乙方通知后，在限定的期限内未能改正；<br />
                    （6）支付宝公司终止向甲方提供附件约定的支付宝服务的。<br />
                    3、甲方同意在本协议终止后，乙方有权通知支付宝公司将甲方的支付宝账户余额冻结30天或在其支付宝账户中冻结三万元人民币作为保证金，用于解决服务协议终止后的履约纠纷或对消费者投诉进行赔付。<br />
                    第十条 其他约定<br />
                    1、甲乙双方合作期间，基于本协议目的，甲乙双方可以合理地使用对方的相应知识产权，包括但不限于商标、标识、产品或服务名称、LOGO等知识产权；但未经一方授权，另一方不得将一方的知识产权用于本协议目的之外的场合。<br />
                    2、就本协议的签订、履行或解释发生争议的，甲乙双方同意由杭州口口相传网络技术有限公司住所地（杭州市余杭区）人民法院管辖审理。<br />
                    3、本协议自甲方和乙方签字或盖章之日起生效，有效期一年。协议到期前三十日内，除非甲乙双方任意一方有异议的，否则本协议将自动续签一年，以此类推，反复适用。<br />
                    4、乙方有权将本协议项下的权利义务一并转让给具备履约能力的第三方，但乙方应事先通过网站公告、邮件通知等方式通知甲方。<br />
                    5、本协议所称的“通知”，包括纸质盖章文件形式，或通过甲方在乙方或乙方关联公司平台上预留的邮箱（或通过本协议约定的指定邮箱）发送邮件，或通过甲方在签约过程中在乙方或乙方关联公司平台上预留的手机号码发送短信，或通过网站、APP页面公告等方式。<br />
                    6、本协议自甲方在乙方或乙方关联公司平台点击确认的方式来确认本协议之日起生效，且该点击确认行为与甲方加盖公章或签字的行为具有相同法律效力。<br />
                    7、乙方有权随时对本协议内容进行单方面的变更，并以在www.koubei.com网站或支付宝钱包予以公布，无需另行通知甲方；若甲方在本协议内容变更公告后继续使用口碑平台服务，则表示甲方已充分阅读、理解并接受修改后的协议，也将遵循修改后的协议；若甲方不同意修改后的协议内容，甲方应停止使用口碑平台服务。<br />
                    8、双方签订本线上协议或其他在线协议后，甲方因内部管理等原因需要签订纸质协议进行确认或存档的，双方可再行签订纸质协议，但不能因此视为双方存在两个协议关系，纸质协议的内容必须与在线签署的协议内容一致，协议的生效与履行依照在线签署的协议约定执行，在线签署的协议内容与纸质协议的约定不一致的，以前者的约定为准。
                </div>
            </ion-content>
        </div>
        <div class="terms_close" ng-click="hideAlipayTerm()"></div>
    </div>
</ion-view>