<ion-view class="micro-shop-participate-activity">
    <ion-content has-bouncing="false">
        <div class="micro-shop-common2">
            <!--<div class="micro-shop-common2-top">
                <div class="img">
                    <img ng-src={{product.imgUrl}}>
                </div>
                <div class="micro-shop-common2-text">
                    <div class="title" ng-bind="product.title">
                    </div>
                    <div class="introduce" ng-bind="product.introduce">
                    </div>
                    <div class="price">
                        <span class="present-price1">￥<span ng-bind="product.discount|twoDecimal"></span></span>
                        <span class="original-price1">价格<em class="original-price1-num">￥<em class="original-price1-num" ng-bind="product.price"></em></em></span>
                        <span class="act-type {{product.actTypeShow.className}}" ng-bind="product.actTypeShow.name"></span>
                    </div>
                </div>
            </div>-->
            <div class="micro-shop-common2-mid">
                <div class="text">
                    <div class="left-width">预留姓名:</div>
                    <input maxlength="5" placeholder="留下真实的姓名更安全喔！" custom-input change-placeholder-by-focus ng-model="user.name" />
                </div>
                <div class="text">
                    <div class="left-width">预留手机号:</div>
                    <input maxlength="15" placeholder="请输入您的手机号" type="tel" custom-input change-placeholder-by-focus ng-model="user.phone" />
                </div>
            </div>
            <div class="form_info_usercheckbox_warp">
                <div ng-class="{'user_checkbox1_checked':checkBoolean}" ng-click="agreeUserTerms(checkBoolean)"></div>
                <span>同意</span><span class="form_info_userterms_text_blue" ng-click="showUserTerms()">用户条款</span>
            </div>
            <div class="width-btn" ng-click="payOrder(data,ylData)" ng-bind="product.submitBtnText"></div>
        </div>
    </ion-content>
</ion-view>