<div class="paneabird1 microactivity-template10 bgPan"  >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_box6">
            <input ng-if="!isEdit" maxlength="200" my-max-length class="acty10_title6 canShow" type="text" readonly="readonly" ng-model="templateModel.title"  ng-trim="false" />
            <input ng-if="isEdit" maxlength="200" my-max-length class="acty10_title6 canEdit" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            <textarea rows ="10" ng-if="!isEdit" maxlength="200" my-max-length class="acty10_textBox5" disabled="disabled" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea  rows ="10" ng-if="isEdit" maxlength="200" my-max-length scroll-top-by-blur class="acty10_textBox5 canEdit" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <!--<div class="acty10_phone_box">
                <textarea rows="1" class="acty10_textBox6" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title" ng-disabled="!isEdit" ng-readonly="!isEdit" maxlength="200" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
                <textarea rows="1" class="acty10_textBox7" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" ng-disabled="!isEdit" ng-readonly="!isEdit" maxlength="200" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>-->

    </div>
    </div>
