<div class="paneabird1 microactivity-template10 acty10_tem2 bgPan" >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_pic_box1 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(0)">
            <img ng-src="{{templateModel.imageUrl[0]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_box2">
            <textarea ng-if="!isEdit"  maxlength="300"  my-max-length class="acty10_textBox2"  ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit"  maxlength="300"  my-max-length scroll-top-by-blur class="acty10_textBox2 canEdit" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>

    </div>
</div>