<!--No.2模板页 -->
<div class="paneabird1 microactivity-template18 bgPan"  >
    <div ng-class="{'maxbox':!isEdit}" style="">
        <div class="acty18_title2_1">
            <textarea rows="1" class="acty18_titleBox2_1" ng-class="{'editBorder':isEdit}" ng-model="templateModel.bigTitle"   maxlength="9" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>
        <div class="acty18_box2_1">
            <div class="acty18_gray_box_bg"></div>
            <div class="acty18_content2_box">
                <textarea rows="1" class="acty18_inputBox2_1" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title[0]" maxlength="15" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
                <div class="acty18_line2"></div>
                <textarea rows="2" class="acty18_textareaBox2_1" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[0]"  maxlength="50" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
        </div>
        <div class="acty18_box2_2">
            <div class="acty18_gray_box_bg"></div>
            <div class="acty18_content2_box">
                <textarea rows="1" class="acty18_inputBox2_2" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title[1]"  maxlength="15" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
                <div class="acty18_line2"></div>
                <textarea rows="2" class="acty18_textareaBox2_2" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[1]"  maxlength="50" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
        </div>
        <div class="acty18_box2_3">
            <div class="acty18_gray_box_bg"></div>
            <div class="acty18_content2_box">
                <textarea rows="1" class="acty18_inputBox2_3" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title[2]"   maxlength="15" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
                <div class="acty18_line2"></div>
                <textarea rows="2" class="acty18_textareaBox2_3" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[2]"   maxlength="50" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
        </div>
        <div class="acty18_box2_4">
            <div class="acty18_gray_box_bg"></div>
            <div class="acty18_content2_box">
                <textarea rows="1" class="acty18_inputBox2_4" ng-class="{'editBorder':isEdit}" ng-model="templateModel.title[3]"   maxlength="15" scroll-top-by-blur my-max-length  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
                <div class="acty18_line2"></div>
                <textarea rows="2" class="acty18_textareaBox2_4" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[3]"   maxlength="50" scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
        </div>
    </div>
</div>
<!--No.2模板页 -->
