<!--No.9模板页 {-->
<div class="paneabird microactivity-grass xmas_bg bgPan">
    <!-- page 1 {-->
    <div ng-class="{'preview':!isEdit}" style="">
        <div class="xmas_box1">
            <div class="xmas_title1" ng-class="{'editBorder':isEdit}" ng-model = "templateModel.title" ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly" maxlength = "11"   ng-bind-html="templateModel.title|newlines" ></div>
            <div class="xmas_text1" ng-class="{'editBorder':isEdit}" ><span  ng-model = "templateModel.description" ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly" maxlength = "40"  ng-bind-html="templateModel.description|newlines" ></span></div>

        </div>
<!---->
        <div class="snowContainer" id="snowContainer" ng-show="!isEdit"></div><!--雪花渲染dom-->
        <!--第一步：种草展示（首页）-->
        <div ng-if = "step==1">
            <template14by1-step1></template14by1-step1>
        </div>
        <!--第二步：填写表单页-->
        <div ng-if = "step==2">
            <template14by1-step2 status = 'status'></template14by1-step2>
        </div>
        <!--选择草-->
        <div ng-style="{'display':isShowGrassList?'block':'none'}" >
                <div class="lockMask"></div><!--遮罩 -->
                <div class="xmas_choosegift">
                    <div class="xmas_choosegift_head"></div>
                    <!--<button type="button" class="btn_round_close" ng-click="closeGrass()"></button>-->
                    <div class="xmas_choosegift_box clearfix">
                        <!--todo-->
                        <button type="button" class="xmas_choosegift_item item1" ng-click="chooseGrassAction(1)"><span class="page_box1_text">手套</span></button>
                        <button type="button" class="xmas_choosegift_item item2" ng-click="chooseGrassAction(2)"><span class="page_box1_text">小雪人</span></button>
                        <button type="button" class="xmas_choosegift_item item3" ng-click="chooseGrassAction(3)"><span class="page_box1_text">糖果</span></button>
                        <button type="button" class="xmas_choosegift_item item4" ng-click="chooseGrassAction(4)"><span class="page_box1_text">铃铛</span></button>
                        <button type="button" class="xmas_choosegift_item item5" ng-click="chooseGrassAction(5)"><span class="page_box1_text">姜饼人</span></button>
                        <button type="button" class="xmas_choosegift_item item6" ng-click="chooseGrassAction(6)"><span class="page_box1_text">袜子</span></button>
                        <button type="button" class="xmas_choosegift_item item7" ng-click="chooseGrassAction(7)"><span class="page_box1_text">鲁道夫</span></button>
                        <button type="button" class="xmas_choosegift_item item8" ng-click="chooseGrassAction(8)"><span class="page_box1_text">小彩球</span></button>
                        <button type="button" class="xmas_choosegift_item item9" ng-click="chooseGrassAction(9)"><span class="page_box1_text">槲寄生</span></button>

                    </div>
                </div>
         </div>
    </div>

</div>
<div class="grass2_box5" ng-show = "!isEdit"></div>