<div class="paneabird1 microactivity-template10 bgPan"  >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_boxOuter1">
            <div class="acty10_box4">
                <input ng-if="!isEdit" maxlength="7" my-max-length class="acty10_title3 canShow" type="text"  ng-model="templateModel.description[0]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
                <input ng-if="isEdit" maxlength="7" my-max-length class="acty10_title3 canEdit" type="text" ng-model="templateModel.description[0]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
                <div class="acty10_title4Outer">
                    <input ng-if="!isEdit" maxlength="11" my-max-length class="acty10_title4 canShow" type="text" ng-model="templateModel.description[1]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
                    <input ng-if="isEdit" maxlength="11" my-max-length class="acty10_title4 canEdit" type="text" ng-model="templateModel.description[1]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"/>
                </div>
                <textarea ng-if="!isEdit" maxlength="96" my-max-length class="acty10_textBox3" disabled="disabled" ng-model="templateModel.description[2]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
                <textarea ng-if="isEdit" maxlength="96" my-max-length scroll-top-by-blur class="acty10_textBox3 canEdit" ng-model="templateModel.description[2]"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>

        </div>

    </div>
</div>