<!--No.9模板页 {-->
<div class="paneabird microactivity-voucher xmas_bg bgPan">
    <!-- page 1 {-->
    <div ng-class="{'preview':!isEdit}" style="">
        <!--动画层-->
            
            <!--第一步：代金券助力（首页）-->
            <div ng-if="step==1">
                <template20by1-step1></template20by1-step1>
            </div>
            <!--第二步：填写表单页-->
            <div ng-if="step==2">
                <template20by1-step2></template20by1-step2>
            </div>


        <div ng-if="step==3&&isFinishPost">
            <template20by1-step3 status='status'></template20by1-step3>
        </div>
    </div>
    <div ng-show="isShowDownBtn" class="down_arrow_btn"></div>
</div>