<div class="microposter1 bgPan">
    <div ng-class="{'preview':!isEdit}" ng-if="true">
        <div class="microposter1-by2">
            <div class="poster2-title-box">
                <textarea ng-if="!isEdit"  class="poster1-title canShow" rows="1" type="text"
                    ng-model="templateModel.title" ng-disabled="!isEdit" ng-trim="false" readonly="readonly"></textarea>
                <textarea ng-if="isEdit" inputconfig="{{inputconfig[0]}}" new-custom-input class="poster1-title canEdit editBorder" rows="1"
                    type="text" ng-model="templateModel.title" ng-disabled="!isEdit" ng-trim="false" readonly="readonly"></textarea>

            </div>
            <div ng-if="!isEdit" class="poster2-subtitle canShow" ng-bind-html="templateModel.description|newlines|recogUrl" ng-readonly="readonly" readonly="readonly"></div>
            <!--<textarea ng-if="!isEdit" rows="1" class="poster2-subtitle canShow"  ng-bind-html="templateModel.description|recogUrl" ng-disabled="!isEdit"
                ng-readonly="readonly" ng-trim="false" isdiff="true" readonly="readonly" ></textarea>-->
            <textarea ng-if="isEdit" rows="6" class="poster2-subtitle canEdit editBorder"  ng-model="templateModel.description"
                ng-disabled="!isEdit"  ng-trim="false" isdiff="true" readonly="readonly" inputconfig="{{inputconfig[1]}}"
                new-custom-input></textarea>

            <div class="poster2-img">
                <div class="img1" ng-class="{'imgGuideMask':isEdit}" ng-click="updateImg(0)">
                    <img ng-src="{{templateModel.imageUrl[0]}}" />
                </div>
                <div class="img2" ng-class="{'imgGuideMask':isEdit}" ng-click="updateImg(1)">
                    <img ng-src="{{templateModel.imageUrl[1]}}" />
                </div>
            </div>
        </div>
    </div>
</div>