<div class="paneabird1 microactivity-template9 template3-3   acty9_bg2   bgPan"  ng-class="{'edit':isEdit}">
    <div class  = "box1" >
        <div class="box1-1">
            <input  class="textBox1" ng-class="{'editBorder':isEdit}"  ng-model="templateModel.title" ng-disabled="!isEdit"  maxlength="15" scroll-top-by-blur my-max-length   type = "text"  ng-trim="false" custom-input readonly="readonly" />
            <hr noshade="noshade"/>
            <textarea   class="textBox2" rows="3"  cols = "18" ng-class="{'editBorder':isEdit}"   ng-model="templateModel.description" maxlength="50" scroll-top-by-blur my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>
    </div>
</div>