<div class="paneabird1 microactivity-template9 template3-5  bgPan " ng-class="{'edit':isEdit}">
    <div class="box1">
        <div class="textBox">
            <textarea  rows="8"  ng-class="{'editBorder':isEdit}"  ng-model="templateModel.description[0]"  maxlength="80"  scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>
        <div class="imgBox1" ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(0)">
            <img class="" ng-src="{{templateModel.imageUrl[0]}}">
        </div>
    </div>
    <div class="box2">
        <div class="textBox">
            <textarea rows="8" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[1]" maxlength="80" scroll-top-by-blur my-max-length ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <!--<textarea  rows="1" ng-class="{'editBorder':isEdit}"  ng-model="templateModel.description[1]"  maxlength="200"  scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly">
            </textarea>-->
        </div>
        <div class="imgBox1" ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(1)">
            <img class="" ng-src="{{templateModel.imageUrl[1]}}">
        </div>
    </div>
    <div class="box3">
        <div class="textBox">
            <textarea rows="8" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description[2]" maxlength="80" scroll-top-by-blur my-max-length ng-disabled="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <!--<textarea  rows="4"   ng-class="{'editBorder':isEdit}"  ng-model="templateModel.description[2]"  maxlength="200"  scroll-top-by-blur my-max-length ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly">
            </textarea>-->
        </div>
        <div class="imgBox1" ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(2)">
            <img class="" ng-src="{{templateModel.imageUrl[2]}}">
        </div>
    </div>

</div>