<div class="paneabird1 microactivity-template10 bgPan" >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_pic_box2 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(0)">
            <img ng-src="{{templateModel.imageUrl[0]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_pic_box3 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(1)">
            <img ng-src="{{templateModel.imageUrl[1]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_box3">
            <input ng-if="!isEdit" maxlength="200" my-max-length class="acty10_title2 canShow" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            <input ng-if="isEdit" maxlength="200" my-max-length class="acty10_title2 canEdit" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
        </div>

    </div>
</div>