<!--No.1模板页 {-->
<div class="paneabird1 microactivity-template11">
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty11_box1Outer">
            <div class="acty11_box1">
                <textarea rows="3" class="acty11_textBox1" cols="3" ng-class="{'editBorder':isEdit}" ng-model="templateModel.description" ng-disabled="!isEdit"  maxlength="200"  my-max-length ng-trim="false" custom-input readonly="readonly"></textarea>
            </div>
        </div>
    </div>
</div>
<!--} No.1模板页-->