<div class="paneabird1 microactivity-template10 bgPan" >
    <div ng-class="{'maxbox':!isEdit}">
        <div class="acty10_pic_box4 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(0)">
            <img ng-src="{{templateModel.imageUrl[0]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_pic_box5 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(1)">
            <img ng-src="{{templateModel.imageUrl[1]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_pic_box6 " ng-class="{'editBorder imgGuideMask':isEdit}" ng-click="updateImg(2)">
            <img ng-src="{{templateModel.imageUrl[2]}}" class="canEdit" /><!--预览页面需要拿掉editBorder样式-->
        </div>
        <div class="acty10_box5">
            <input ng-if="!isEdit" maxlength="13" my-max-length class="acty10_title5 canShow" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            <input ng-if="isEdit" maxlength="13" my-max-length class="acty10_title5 canEdit" type="text" ng-model="templateModel.title"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly" />
            <textarea ng-if="!isEdit" maxlength="70" my-max-length class="acty10_textBox4" disabled="disabled" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
            <textarea ng-if="isEdit" maxlength="70" my-max-length scroll-top-by-blur class="acty10_textBox4 canEdit" ng-model="templateModel.description"  ng-disabled ="!isEdit" ng-trim="false" custom-input readonly="readonly"></textarea>
        </div>

    </div>
</div>